{{> head}}
{{> navbar}}


<div class="row">
  <div class="col-8">
    <h1>Jotito y jotote</h1>
  </div>
  <div class="col-4">
    <img src="assets/img/imagen.jpg" alt="Jotito" class="img-thumbnail">
  </div>
</div>



{{> footer}}